ENV= # Environment name (dev, staging, prod)
DEBUG=
WORKERS= # number of uvicorn workers
ORIGINS= # space separated origin addresses
DATABASE_URL=postgresql+asyncpg://[user:password@]host[:port]/database_name
REDIS_URL=
SENTRY_DSN=
RATELIMIT_ENABLED=
RATELIMIT_GUEST=
